.nav,
.body,
.footer {
  position: relative;
  z-index: 1; /*show particles underneath*/
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav > a {
  text-decoration: none;
  color: var(--text);
}

.nav > a:hover {
  cursor: pointer;
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /*make dynamic*/
  text-align: center;
  overflow: hidden;
}

.tagline {
  color: var(--quaternary);
  font-size: 4rem;
  font-weight: 300;
}

.tagline > span {
  color: var(--text);
}

.motto {
  color: var(--text);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;
}

/*redesign footer to not be a square lol */
.footer > a,
p {
  text-decoration: none;
  color: var(--text);
  font-size: 0.8rem;
}

.footer > a:hover,
.footer > p:hover {
  cursor: pointer;
  text-decoration: none;
}
.groupMemberEffect {
  display: inline-block;
  text-align: right;
  position: relative;
}

.groupMemberToggle,
.groupMemberNames {
  transition: opacity 0.7s ease, transform 0.7s ease;
  white-space: nowrap;
}

.groupMemberNames {
  opacity: 0;
  transform: translateX(10px);

  position: absolute;
  right: 0;
  top: 0;
  text-align: right;

  pointer-events: none;
}

.groupMemberEffect:hover .groupMemberToggle {
  opacity: 0;
  pointer-events: none;
}

.groupMemberEffect:hover .groupMemberNames {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  text-decoration: none;
}
