button {
  padding: 0.7rem 3rem;
  border-radius: 0.8rem;
  border: none;
  background: linear-gradient(90deg, #a020f0 18%, #6a0dad 78%);
  color: #fff;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
  filter: brightness(1.1);
  transition: all 0.2s ease-in-out;
}
